<template>
    <li :class="{'completed': isDone === true}">
        <p>{{ name }}</p>
        <div class="task-options">
            <button @click="removeTask(index)">
                Remove
            </button>
            <button
                v-show="!isDone"
                @click="completeTask(index)"
                :disabled="isDone"
            >
                Done
            </button>
        </div>
    </li>
</template>

<script>
    export default {
        props: {
            removeTask: {
                type: Function,
                default: null
            },
            name: {
                Type: String,
                default: null,
            },
            index: {
                Type: Number,
                default: null,
            }
        },
        data() {
            return {
                isDone: false
            };
        },
        methods: {
            completeTask(){
                this.isDone = true;
            }
        }
    };
</script>

<style scoped>
    .task-options{
        display: inline-block;
        margin: 0 auto;
    }
    li {
        width: 100%;
        padding: 0 1rem;
        background-color: #FDFDFD;
        border-bottom: 1px dashed black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    li p {
        flex: 2;
    }
    li.task-options {
        flex: 1;
    }
    li:nth-child(2n){
        background-color: #F0F0F0;
    }
    li.completed,li:nth-child(2n).completed{
        text-decoration: line-through;
        background-color: darkgray;
    }
</style>