<template>
    <div class="list-container">
        <div class="list-options">
            <input
                type="text"
                v-model="task"
                @keyup.enter="saveTask"
                placeholder="Thing to do..."
            />
            <button
                type="button"
                :disabled="task.length < 2"
                @click="saveTask">
                + Add
            </button>
        </div>
        <div class="list-items">
            <ul v-if="todoList.length">
                <Task
                    v-for="(todo, index) in todoList"
                    :name="todo"
                    :key="todo"
                    :index="index"
                    :remove-task="removeTask"
                />
            </ul>
        </div>
    </div>
</template>

<script>

    import Task from './Task';

    export default {
        components: {
            Task
        },
        props: {
            todoList: {
                type: Array,
                default: null
            },
            addTask: {
                type: Function,
                default: null
            },
            removeTask: {
                type: Function,
                default: null
            }
        },
        watch: {
            task: {
                immediate: true,
                handler: ()=>{}
            }
        },
        data() {
            return {
                task: ''
            };
        },
        methods: {
            saveTask() {
                if(this.task.length > 1){
                    this.addTask(this.task);
                    this.task = '';
                }
            }
        }
    };
</script>

<style scoped>
    ul {
        list-style: none;
        margin: 1rem;
        padding: 0;
        border-top: 1px dashed lightgray;
    }
</style>