<template>
    <div id="app">
        <Header/>
        <TodoList
            :add-task="addTask"
            :remove-task="removeTask"
            :todo-list="todoList"
        />
    </div>
</template>

<script>

    import Header from './components/Header';
    import TodoList from './components/TodoList';

    export default {
        name: 'app',
        components: {
            Header,
            TodoList
        },
        mounted() {
            if (localStorage.getItem('todoList')) {
                this.todoList = JSON.parse(localStorage.getItem('todoList'));
            }
        },
        data() {
            return {
                todoList: [],
                storage: window.localStorage
            };
        },
        methods: {
            addTask(task) {
                this.todoList.push(task);
                this.storage.setItem('todoList', JSON.stringify(this.todoList));
            },
            removeTask(index){
                this.todoList.splice(index,1);
                this.storage.setItem('todoList', JSON.stringify(this.todoList));
            }
        }
    };
</script>

<style>
    * {
        box-sizing: border-box;
    }
    html {
        font-size: 62.5%;
    }
    body {
        font-size: 1.6rem;
    }
    #app {
      font-family: Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: left;
      color: #2c3e50;
    }
    h1, h2, h3, h4 {
        font-weight: normal;
    }
    button, input {
        vertical-align: middle;
        margin: 1rem 0.5rem;
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }
    button, input {
        border-radius: 50px;
        border: 0;
        outline: none;
    }
    input {
        border: 1px solid lightgray;
    }
    input:focus {
        background-color: #F0F0F0;
    }
    button:focus {
        background-color: #000000;
        color: #FFFFFF;
    }
    @media screen and (max-width: 600px){
        html {
            font-size: 40%;
        }
    }
</style>
